
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Monocle Recipes{% endblock %}</title>
    </head>
    <body>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/public/build/fonts/HelveticaNeue-Bold.otf"
            <link rel="stylesheet" href="/public/build/fonts/HelveticaNeue-Roman.otf"
            <link rel="stylesheet" href="/public/build/fonts/PlantinMTStd-BoldCondensed.otf"
            <link rel="stylesheet" href="/public/build/fonts/PlantinMTStd-Regular.otf"
        {% endblock %}
  
            {% block header %}
            <div class="header_image">
                <img src="{{ asset('build/images/header.png')}}"/>
            </div>
            {% endblock %}
        

            {% block body %} 
            
            <div id="comments">
                {% block comments %} {% endblock %}
            </div>

            <div id="comment_form">
                {% block form %} 
                    
                {% endblock %}
             </div>
            {% endblock %}


            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
    </body>
</html>
